<doctype/>
<html>
<head>
    <title>Question sheet</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/question1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<!--     <div class="modal ask-modal fade" id="ask_a_question" role="dialog">-->
<!--                            <div class="modal-dialog askque">-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--                                &lt;!&ndash; Modal content&ndash;&gt;-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="modal-header ask-head">-->
<!--                                        <button class="close active askclotiv" data-dismiss="modal" type="button">-->
<!--                                            &times;-->
<!--                                        </button>-->
<!--                                        <h4 class="modal-title">-->
<!--                                        </h4>-->
<!--                                    </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--                                    <div class="modal-body">-->
<!--                                         <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                <div class="col-md-5 col-sm-5 col-xs-5 main-image">-->
<!--                </div>-->
<!--                <div class="col-md-7 col-sm-7 col-xs-7">-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12 edit-question">-->
<!--                        <h2>Edit Questions</h2>-->
<!--                        <p>How Likely are you to recommend our product...</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="form-group question-type">-->
<!--                            <label>Question Type:</label>-->
<!--                            <select>-->
<!--                                <option>New source recommend.... </option>-->
<!--                                <option>to get the best answer</option>-->
<!--                                <option>And whom can be the best</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="form-group how-likely">-->
<!--                            <label>Title:</label>-->
<!--                            <input type="text" placeholder="How Likely are you to recommend our product in red handed...."/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="form-group how-likely">-->
<!--                            <label> SubTitle:</label>-->
<!--                            <input type="text"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-12 col-md-12 col-xs-12 button-div">-->
<!--                        <button>Submit</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--     &lt;!&ndash;<div class="container-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-12 col-sm-12 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-5 col-sm-5 col-xs-5 main-image">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-7 col-sm-7 col-xs-7">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12 col-sm-12 col-xs-12 edit-question">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h2>Edit Questions</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>How Likely are you to recommend our product...</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12 col-sm-12 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group question-type">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label>Question Type:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <select>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option>New source recommend.... </option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option>to get the best answer</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option>And whom can be the best</option>&ndash;&gt;-->
<!--&lt;!&ndash;                            </select>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12 col-sm-12 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group how-likely">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label>Title:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="text" placeholder="How Likely are you to recommend our product in red handed...."/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-md-12 col-sm-12 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group how-likely">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label> SubTitle:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="text"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="col-sm-12 col-md-12 col-xs-12 button-div">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button>Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--            </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--        </div>-->
<!---->
<!---->

                    <div class="col-md-12  col-xs-12 col-sm-12 ask-question">
                        <button class="btn btn-info btn-lg btn-insign1" data-target="#ask_a_question" data-toggle="modal"
                                type="button">Ask A Question
                        </button>

                        <!-- Modal -->
                        <div class="modal ask-modal fade" id="ask_a_question" role="dialog">
                            <div class="modal-dialog askque">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header ask-head">
                                         <div class="col-md-10 col-sm-10 col-xs-10 edit-question">
                                                <h2>Edit Questions</h2>
                                                <p>How Likely are you to recommend our product...</p>
                                            </div>
                                        <h4 class="modal-title">
                                        </h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="col-md-12 col-sm-12 col-xs-12 body-main">
                                            <div class="col-md-5 col-sm-5 col-xs-5 main-image">
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-7">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group question-type">
                                                    <label>Question Type:</label>
                                                    <select>
                                                        <option>New source recommend.... </option>
                                                        <option>to get the best answer</option>
                                                        <option>And whom can be the best</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group how-likely">
                                                    <label>Title:</label>
                                                    <input type="text" placeholder="How Likely are you to recommend our product in red handed...."/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group how-likely">
                                                    <label> SubTitle:</label>
                                                    <input type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-xs-12 button-div">
                                                <button>Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                                        <!--                </div>-->
<!--                <div class="col-md-7 col-sm-7 col-xs-7">-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12 edit-question">-->
<!--                        <h2>Edit Questions</h2>-->
<!--                        <p>How Likely are you to recommend our product...</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="form-group question-type">-->
<!--                            <label>Question Type:</label>-->
<!--                            <select>-->
<!--                                <option>New source recommend.... </option>-->
<!--                                <option>to get the best answer</option>-->
<!--                                <option>And whom can be the best</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="form-group how-likely">-->
<!--                            <label>Title:</label>-->
<!--                            <input type="text" placeholder="How Likely are you to recommend our product in red handed...."/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="form-group how-likely">-->
<!--                            <label> SubTitle:</label>-->
<!--                            <input type="text"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-12 col-md-12 col-xs-12 button-div">-->
<!--                        <button>Submit</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--            </div>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!---->
            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>




















<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>